.user-info-details {
	text-align: center;
	
	.usri-header {
		padding-top: 15px;

		.usri-img {
			height: 90px;
			width: 90px;
			border-radius: 50%;
		}

		h1 {
			font-size: 20px;
		    margin: 15px 0 0 0;
		    padding: 0;
		    color: #555;
		}
	}

	.usri-signature {
		line-height: 1.5;
	}

	.usri-stats {
		& > li {
			display: inline-block;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}	
	}
}

.usri-footer {
	padding: 25px 0 15px 0;

	.usri-actions {
		& > li {
			display: inline-block;
			font-size: 0;
			margin-right: 10px;

			a {
				padding: 5px 10px;
				color: @m-green;
				border: 1px solid @m-green;
				border-radius: 2px;
				font-size: 12px;

				&.usri-follow {
					color: #fff;

					&.following {
						border-color: @m-gray;
					}
				}

				.icon {
					font-size: 13px;
    				vertical-align: middle;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.user-info-entry {
	.usri-count {
		float: right;
		margin-right: 5px;
	}

	.list-group-item {
		.icon {
			margin-right: 5px;
		}
	}

	.icon-right {
		float: right;
	}
}


.usri-signature-content {
	padding-top: 10px;
}

.usri-signature-edit {
	.usri-signature-toggle {
		color: #555;
		font-size: 12px;
	}

	textarea {
		padding: 25px;
        resize: none;
        width: 100%;
        border: 0;
        outline: none;
	}

	.tab-actions {
        width: 100%;
        padding: 5px 10px;
        border-top: 1px solid #EEE;
        z-index: 1;

        & > a {
            font-size: 25px;
            padding: 0 6px;
            border-radius: 50%;
            text-align: center;
            height: 40px;
            width: 40px;
            display: inline-block;

            &:hover {
                background-color: #eee;
            }
        }

        .icon {
        	vertical-align: middle;
        }
	}

	.dropdown-menu {
		border-radius: 0;
		width: 100%;
		padding: 0;
	}
}

.favorite {
	.fav-category-action {
		float: right;
	    font-size: 13px;
	    color: @text-color;
	}
	
	.favi-content {
		padding: 10px 0;
	}
	
	.favi-preview {
    	text-align: center;
    	padding: 0 15px;
		margin: 10px -16px 10px;

	    .favip-item {
	        display: block;
	        float: left;
	        position: relative;
	        overflow: hidden;
	        border: 2px solid #fff;
	        .bg-cover-inline();
	        cursor: pointer;

	        &:hover {
	            .opacity(0.9);
	        }
	        
	        & > img {
	            display: none;
	        }

	        &:first-child:nth-last-child(2),
	        &:first-child:nth-last-child(2) ~ div {
	            width: 50%;
	            padding-bottom: 40%;
	        }

	        &:first-child:nth-last-child(3),
	        &:first-child:nth-last-child(3) ~ div,
	        &:first-child:nth-last-child(4),
	        &:first-child:nth-last-child(4) ~ div:not(:last-child),
	        &:first-child:nth-last-child(5),
	        &:first-child:nth-last-child(5) ~ div:not(:nth-last-of-type(-n+2)),
	        &:first-child:nth-last-child(6),
	        &:first-child:nth-last-child(6) ~ div,
	        &:first-child:nth-last-child(7) ~ div:nth-last-of-type(-n+3) {
	            width: 33.333333%;
	            padding-bottom: 30%;
	        }

	        &:first-child:nth-last-child(5) ~ div:nth-last-of-type(-n+2) {
	            width: 50%;
	            padding-bottom: 40%;
	        }

	        &:first-child:nth-last-child(7),
	        &:first-child:nth-last-child(7) ~ div:not(:nth-last-of-type(-n+3)),
	        &:first-child:nth-last-child(n+8),
	        &:first-child:nth-last-child(n+8) ~ div {
	            width: 25%;
	            padding-bottom: 22%;
	        }

	        &:only-child,
	        &:first-child:nth-last-child(4) ~ div:nth-child(4) {
	            width: 100%;
	            padding-bottom: 50%;
	        }
	    }
	}

	.favi-tags {
		display: inline-block;
		font-size: 0;

		li {
			display: inline-block;
			margin-right: 10px;
			
			&:last-child {
				margin-right: 0;
			}

			a {
				color: @m-gray;
				display: block;
				padding: 2px 5px;
				border: 1px solid @m-gray;
				font-size: 12px;
				border-radius: 2px;

				&.active {
					color: @m-lightblue;
					border-color: @m-lightblue;
				}
			}
		}
	}

	.favi-actions {
		float: right;
		display: inline-block;

		li {
			display: inline-block;
			line-height: 23px;

			a {
				color: @m-gray;
				font-size: 12px;
			}
		}
	}
}

.upg-header {
	&.card-header {
		h2 {
			.icon {
				font-size: 17px;
				vertical-align: text-bottom;
				margin-right: 5px;
			}
		}

		.actions {
			li {
				a {
					padding-top: 0;

					.icon {
						font-size: 17px;
						color: #adadad;
					}
				}
			}		
		}
	}	
}

.nft-item {
	.lgi-heading {
		white-space: normal;
	}
}

.ibi-body {
	padding: 10px 0;
}

.ibi-actions {
	display: inline-block;

	li {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
		
		a {
			font-size: 12px;
			color: @m-gray;
		}
	}
}

.ibr-reply-box {
	position: relative;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;

	textarea {
		width: 100%;
	    border: 0;
	    padding: 15px 60px 15px 15px;
	    resize: none;
	    height: 60px;
	}

	button {
		position: absolute;
	    top: 0;
	    right: 0;
	    border: 0;
	    height: 100%;
	    width: 60px;
	    font-size: 25px;
	    background: #F5F5F5;
	    color: @m-lightblue;
	}
}

.ibr-item {
	&.right {
		.ibri-time {
			clear: right;
			float: right;
		}

		.ibri-content {
			text-align: right;
			background-color: #eee;
			color: @text-color;
			float: right;
		}
	}

	.ibri-content {
		background: @m-amber;
		color: #fff;
		padding: 10px;
		border-radius: 2px;
		display: inline-block;

		.ibri-sent-time {
			display: block;
			margin-bottom: 5px;
		}
	}

	.ibri-time {
		display: block;
		color: @m-gray;
		margin-top: 5px;

		.icon {
			font-size: 14px;
		}
	}
}
	
