.user-info-details {
	text-align: center;
	
	.usri-img {
		height: 64px;
		width: 64px;
		border-radius: 50%;
	}

	h1 {
		font-size: 20px;
	    margin: 15px 0;
	    padding: 0;
	    color: #555;
	}

	.usri-signature {
		line-height: 1.5;
	}

	.usri-stats {
		margin-bottom: 10px;

		& > li {
			display: inline-block;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}	
	}

	.usri-follow {
		padding: 5px 10px;
		margin-top: 10px;
		display: inline-block;
	}
}

.user-info-entry {
	.usri-count {
		float: right;
		margin-right: 5px;
	}

	.list-group-item {
		.icon {
			margin-right: 5px;
		}
	}

	.icon-right {
		float: right;
	}
}