/*--------------------------------------------------
    Styles for question filter bar
---------------------------------------------------*/

.question-select {
	.card {
		margin-bottom: 15px;
	}

	.qs-filter {
	    margin: 0;
	    padding: 0;

	    li {
	    	display: inline-block;
	    	line-height: 30px;
	    	font-size: 14px;

	    	a {
	    		color: @text-color;

	    		.icon {
					vertical-align: text-bottom;
	    			font-size: 17px;
				}
	    	}
	    }
	}
}
