/*--------------------------------------------------
    Styles for question filter bar
---------------------------------------------------*/

.question-select {
	.card {
		margin-bottom: 15px;
	}

	.qs-filter {
	    margin: 0;
	    padding: 0;

	    li {
	    	display: inline-block;
	    	line-height: 30px;
	    	font-size: 14px;

	    	a {
	    		color: @text-color;

	    		.icon {
					vertical-align: text-bottom;
	    			font-size: 17px;
				}
	    	}
	    }
	}
	
	.qs-menu {
		display: none;

		.btn {
			.z-depth(1);

			.icon {
				vertical-align: text-bottom;
			}
		}
	}

	&.affix {
		z-index: 11;

		.qs-bar {
			display: none;
		}

		.qs-menu {
			display: block;
		}
	}

	.qs-dlg {
		.list-group-item {
			.icon {
				font-size: 17px;
			    vertical-align: text-bottom;
			    margin-right: 10px;
			}
		}
	}

	.modal-body {
		&.list {
			padding: 0;

			.list-group {
				margin-top: 18px;
			}

			.list-group-item {
				padding-left: 26px;
			}
		}
	}
}

/*--------------------------------------------------
    Styles for question filter list
---------------------------------------------------*/

.question-filter {
	margin: 0;
	padding: 0;

	li {
		list-style: none;

		h3 {
			font-size: 14px;
		    margin: 23px 0;
		    padding: 0;
		}
	}

	.qf-list {
		margin: 0;
		padding: 0;

		& > li {
			display: inline-block;
   			margin: 0 10px 10px 0;

			a {
				padding: 5px 8px;
				color: @text-color;
			}

			&.active {
				a {
					color: @m-lightblue;
					border: 1px solid @m-lightblue;
					border-radius: @border-radius-base;
				}
			}
		}
	}
}